.authContainer {
    background-image: url('../../../../assets/images/football-players-fighting-for-ball-2024-11-03-07-42-41-utc-min.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}