.authContainer {
    background-image: url('../../../../assets/images/8f4f40a9b877e622bc304ab57e05796f.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}