

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Archivo", sans-serif;

}
a {
    text-decoration: none;
}

.inputStyle {
    background-color: rgba(247, 247, 247, 1);
    border: unset;
    padding: 0.7rem;
    border-radius: 5px !important;

    &&::placeholder {
        color: rgba(131, 145, 161, 1)
    }

    
}
.input-group.password{
    margin-top: 1.9rem;
}
.countryCol , .phoneCol {
    margin-top: 1.9rem;
}


.inputIcons {
    color: rgb(122, 134, 148);
    font-size: 21px;
}

.input-group-text{
    padding-left: 1rem;
    padding-right: 0.1rem !important;
}

.inputStyle:focus {
background-color: rgba(247, 247, 247, 1) !important;
box-shadow: unset !important;
border: 1px solid rgb(206, 206, 206) !important;
}
.eyeIcon {
    z-index: 999;
}


.authBtnStyle,.saveBtn{
    background-color: rgba(79, 70, 229, 1);
    color: white
    ;
    padding-inline: 16rem;
    padding-block: 13px;
    font-weight: 500;
    border-radius: 10px;
    border: unset;
}

.authTitle {
    margin-bottom: 2rem;
}



.authTitle h2 {
    color: rgba(73, 73, 73, 1);
    font-weight: 700;
}
.authTitle p{
    color: rgba(73, 73, 73, 0.6);

}

.errorMessage {
    margin: 5px;

}


.side-bar-container .ps-sidebar-container {
    padding: 30px 0;
    background-color: transparent;
    height: 100vh !important;
    
    }
    .side-bar-container {
      height: 100vh !important;
    }
    
    .sideContain{
      background-color: rgba(31, 38, 62, 1);
    border-top-right-radius: 58px;
    z-index: 999999;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    align-self: flex-start;
    height: 100vh !important;
    
    }
    .ps-sidebar-root {
      border-right-style: unset !important;
    }
    
    .ps-menuitem-root {
        color: white !important;
    }
    .mobile-side .ps-menuitem-root {
      color: black !important;
    }
    
    .ps-menuitem-root:not(:first-child):hover .ps-menu-button {
        background-color: rgba(0, 146, 77, 0.1) !important;
    }
    .ps-menuitem-root:first-child:hover .ps-menu-button{
    background-color: transparent !important;
    }
    .ps-menu-button {
        transition: all 0.25s;
    }
    .sideBarLogo .ps-menu-icon {
        width: 100% !important;
        height: 100% !important;
    }
    
    .navbar {
        background-color: rgba(248, 249, 251, 1);
    }
    .ps-sidebar-root.ps-collapsed .ps-sidebar-container  .ps-menu-icon img{
      width: 60px !important;
    }
    
    .navbar {
        background-color: rgba(248, 249, 251, 1);
    }
    .ps-sidebar-root .ps-sidebar-container  .ps-menu-icon img{
      width: 250px !important;
    }
    
    
    .ps-sidebar-root .ps-sidebar-container  .sideArrow{
      font-size: 2.5rem;
    }
    
    
    .ps-sidebar-root.ps-collapsed .ps-sidebar-container   .sideArrow{
        font-size: 1.5rem;
        margin: unset !important;
        top: 5px !important;
      }
      
    
    
    .navbarProfileImage {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .searchInputNavbar {
        width: 70%;
        border-radius: 8px;
        border: unset;
        padding-inline: 1.8rem;
        padding-block: 0.5rem;
    }

    .searchTable  {
        padding-inline: 1.8rem;
        padding-block: 0.5rem;
    }
    .dropTable {
        padding-block: 0.5rem;
    }
    
    .searchInputNavbar::placeholder ,.searchTable::placeholder {
        padding-inline: 1.2rem;
    }
    .searchInputNavbar:focus , .searchTable:focus {
        border: unset;
        outline: unset;
    }

    .searchInputNavbar:focus +.searchIcon   ,.searchTable:focus +.searchTableIcon{
       display: none;
    }
    .profileInfo {
        margin-bottom: 1.5rem;
    }
    .dropdown-menu[data-bs-popper] {
        right: 0 !important;
        left: unset;
    }

    .input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s !important;
    }

    .myLogo {
        margin-right: unset !important;
    }

    .side-bar-container .ps-sidebar-container {
        overflow: hidden;
    }

    .info {
        padding-block: 2rem;
        padding-inline: 1.5rem;
        border-radius: 10px;
    }

    .info h4 , .info p ,  .courtSlider h4{
        font-size: 16px;
        font-weight: 500;
        color: rgba(82, 82, 82, 1)
    }
    .info h4 {
        min-width:150px ;
        margin-bottom: 40px;
    }

    .userInfo {
        margin-top: 24px;
    }

    .courtSlider {
        border-radius: 10px;
        background-color: rgba(248, 249, 251);
        border: 1px solid rgb(200, 200, 200);
        cursor: pointer;

    }
    .totalDeactive {
        background-color: rgba(248, 249, 251);
        border: 1px solid rgb(200, 200, 200);
        text-align: center;
        padding-inline: 4rem;
        padding-block: 1.3rem;
        border-radius: 10px;
        width: 25%;
        
        & h3,span {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 500;
            color: rgba(82, 82, 82, 1);
            min-width: 10rem;
        }
    }

    .sliderWrapper {
        margin-top: 24px;

    }
  .courtImage img  {
    width: 56px;
    height: 56px;
    border: 2px solid rgba(49, 46, 129, 1);
    border-radius: 50%;
    overflow: hidden;
  }

  .topUsersImage img {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(49, 46, 129, 1);
    border-radius: 50%;
    overflow: hidden;
  }

  .courtFlex p {
font-weight: 400  ;
font-size: 13px;
min-width: 100px;
margin-block: auto;
color: rgba(82, 82, 82, 1);

}
.courtFlex {
    overflow: hidden;
}

  .courtSlider h4 {
    padding-block: 1rem;
  }

  .slick-initialized {
    overflow: hidden;
    }
    


    .courtSlider {
        max-width: 750px;
    }
.courtS {
    width: 70%;
}
    .table>tbody>tr:nth-child(odd)>td,
    .table>tbody>tr:nth-child(odd)>th {
      background-color: rgba(248, 249, 251, 1);
      padding-block: 1.2rem !important;
    }

.dashboardTable {
    width: 70%;
    overflow-x: auto;
  
}

.tablesFlex {
    margin-top: 24px;

}


tbody, td, tfoot, th, thead, tr {
    border-style: unset !important;
    font-weight: 500;
    color: rgba(82, 82, 82, 1) !important;
    

 }

 .table th {
    background-color: rgb(226, 229, 235) !important;
 }

 th {

    padding-block: 14px !important;
    padding-inline: 15px !important;
 }

 

 .firstTh {

border-start-start-radius: 10px;
border-bottom-left-radius: 10px;
}

.lastTh {
    border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}


table {
    border-collapse:separate; 
    border-spacing: 0 1.5rem;
  }
.pendingRequest {
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: rgba(248, 249, 251, 1);
    padding-inline: 2.2rem;
}



.pendingRequest p {
    margin-top: 1rem !important;
    margin-bottom: 24px !important;
}



  .pendingTitle {
    font-size: 14px;
    min-width: 100px
  }
  .request{
    margin-bottom: 24px;
  }

  .decoratedLink a{
    text-decoration: underline;
    color: rgba(79, 70, 229, 1) !important; 
    font-weight: 400;
  }
  .active {
    background-color: rgba(0, 146, 71, 0.1);
  }

  .searchingTable{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

.pendingTableArrow {
color: rgba(0, 0, 0, 1);
cursor: pointer;
}

.pendingT th {
    padding-inline-end: unset !important;
}

.pendingStatus{
    color: white;
    border-radius: 20px;
    padding-block: 10px;
    padding-inline: 1.5rem;
    font-weight: 400;
}

.pendimage img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}

.actionsIcon {
    color: rgba(49, 46, 129, 1);
    margin-inline: 10px;
  
}

.actionsIcon.eye {
width: 1.2rem;
height: 1.2rem;
border: 1px solid rgba(49, 46, 129, 1);
border-radius: 50%;
}
.pendingDropDown:active{
    border: unset !important;
    outline: unset !important;
  }
  .pendingDropDown:focus{
    border: unset !important;
    outline: unset !important;
  }
  
  .pendingDropDown:focus-within{
    border: unset !important;
    outline: unset !important;
  }
  
  .dropdown-toggle::after {
    display: none;
  }


  .coolinput {
    display: flex;
    flex-direction: column;
    position: static;

  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: white;
    width: fit-content;
    color: rgb(168, 168, 168);
  }
  
  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }
  .modalInputs{
    color: rgba(82, 82, 82, 1);
  }

  .modalInputs:disabled {
    background-color: white !important;
  }

.headerInfo {
    background-color: rgb(226, 229, 235) !important;
    color: rgba(82, 82, 82, 1);
}
.titleOfHeader {
    font-size: 24px;
    font-weight: 400;

}

.cancelModal{
    left: 20px;
    cursor: pointer;
}

.ownerImg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.owner {
    padding-inline: 127px;
    padding-bottom: 143px;
    padding-top: 50px;
}

.modalBtn {
    min-width: 180px !important;
}
.ownerBtns {
    margin-top: 24px;
}

.recject-accept{
    margin-top: 104px;
}

.acceptBtn {
  background-color: rgba(79, 70, 229, 1);
  color: white;
  margin-left: 40px;
}
.acceptBtn:hover {
  background-color: #818CF8;
}

.recject-accept button {
  padding-inline: 27px;
  padding-block: 0.5rem;
}

.paginationLinks {
  cursor: pointer;
}

.paginationDropDown {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 20px;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.courtTitle{
  margin-top: 32px;
}

.myTabs {
  background-color: #E2E5EB;
  border-radius: 30px;
  width: 75%;
  margin: auto;
  padding-inline: 62px;
}
.nav .nav-link{
  color: #525252 !important;
}
.nav .active{
  background-color: #4F46E5 !important;
  color: white !important;
  padding-block: 20px;
  padding-inline: 47px;
  border-radius: 30px;
}
.tab-content>.active {
  background-color: white;
}

.infoLink{
  padding-block: 0.25rem ;
  padding-inline: 1rem;
  color: #212529;
  width: 100%;
  display: block;
}

.infoLink:hover {
  background-color: #f8f9fa;
  color: #212529;
}

.modal{
  z-index: 999999999;
}
.viewBtn {
  color: #4F46E5;
  text-decoration: underline;
}

.viewBtn:active , .viewBtn:hover {
  color: #4F46E5 !important;
  border: unset !important;
}

.courtDetails {
  width: 35%;
}

.viewFullScreen {
  background-color: #FF2C53;
  color: white;
  bottom: 10px;
  left: 10px;
}

.viewFullScreen:hover {
  background-color: #FF2C53;
  color: white;


}
.addressWrapper {
  margin-top: 23px;

}
.address{
  max-width: 150px;
}

.address p , .phoneInfo p{
  margin: 0;
}


.gpsImg {
  background-color: rgb(247, 247, 247);
}

.gpsIcon {
  background-color: #3E4954;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 5px;
}

.pinkGps {
  background-color: #450B5A08;
  color: #450B5A;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.telInfo {
  padding-block: 15px;
  border-radius: 12px;
}

.pending {
  background-color: #FF9F29;
}