@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Archivo", sans-serif;

}
a {
    text-decoration: none;
}

.inputStyle {
    background-color: rgba(247, 247, 247, 1);
    border: unset;
    padding: 0.7rem;
    border-radius: 5px !important;

    &&::placeholder {
        color: rgba(131, 145, 161, 1)
    }

    
}
.input-group.password{
    margin-top: 1.9rem;
}


.inputIcons {
    color: rgb(122, 134, 148);
    font-size: 21px;
}

.input-group-text{
    padding-left: 1rem;
    padding-right: 0.1rem !important;
}

.inputStyle:focus {
background-color: rgba(247, 247, 247, 1) !important;
box-shadow: unset !important;
border: 1px solid rgb(206, 206, 206) !important;
}
.eyeIcon {
    z-index: 999;
}


.authBtnStyle{
    background-color: rgba(79, 70, 229, 1);
    color: white
    ;
    padding-inline: 16rem;
    padding-block: 13px;
    font-weight: 500;
    border-radius: 10px;
    border: unset;
}

.authTitle {
    margin-bottom: 2rem;
}



.authTitle h2 {
    color: rgba(73, 73, 73, 1);
    font-weight: 700;
}
.authTitle p{
    color: rgba(73, 73, 73, 0.6);

}

.errorMessage {
    margin: 5px;

}


.side-bar-container .ps-sidebar-container {
    padding: 30px 0;
    background-color: transparent;
    height: 100vh !important;
    
    }
    .side-bar-container {
      height: 100vh !important;
    }
    
    .sideContain{
      background-color: rgba(31, 38, 62, 1);
    border-top-right-radius: 58px;
    z-index: 999999;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    align-self: flex-start;
    height: 100vh !important;
    
    }
    .ps-sidebar-root {
      border-right-style: unset !important;
    }
    
    .ps-menuitem-root {
        color: white !important;
    }
    .mobile-side .ps-menuitem-root {
      color: black !important;
    }
    
    .ps-menuitem-root:not(:first-child):hover .ps-menu-button {
        background-color: rgba(0, 146, 77, 0.1) !important;
    }
    .ps-menuitem-root:first-child:hover .ps-menu-button{
    background-color: transparent !important;
    }
    .ps-menu-button {
        transition: all 0.25s;
    }
    .sideBarLogo .ps-menu-icon {
        width: 100% !important;
        height: 100% !important;
    }
    
    .navbar {
        background-color: rgba(248, 249, 251, 1);
    }
    .ps-sidebar-root .ps-sidebar-container  .ps-menu-icon img{
      width: 90px !important;
    }
    
    
    
    
    .ps-sidebar-root.ps-collapsed .ps-menuitem-root.myLogo {
        margin: 0 -1.5rem;
    }
    .navbarProfileImage {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .searchInputNavbar {
        width: 70%;
        border-radius: 8px;
        border: unset;
        padding-inline: 1rem;
    }
    .searchInputNavbar::placeholder {
        padding-inline: 1.2rem;
    }
    .searchInputNavbar:focus {
        border: unset;
        outline: unset;
    }

    .searchInputNavbar:focus +.searchIcon{
       display: none;
    }
    .profileInfo {
        margin-bottom: 1.5rem;
    }
    .dropdown-menu[data-bs-popper] {
        right: 0 !important;
        left: unset;
    }